// @import '../../assets/scss/variables.scss';
// .first-layer{
//     display: flex;
//     .corner-top-right-bevel {

//         width: 50vw;
//         height: 20vw;
//         -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
//         clip-path: polygon(0 0, 105% -20%, 72% 100%, 0% 100%);
//         background: $btn-hover;
//         z-index: 3;
//       }
//       .first-layer-image{
//         width: 64vw;
//         height: 20vw;
//         background: $bg-light;
//         position: absolute;
//         right: 0;
//         z-index: -1;
//         img{
//             height:22vw;
//             margin-top: -2vw;
            
//         }
//       }
    
// }
// .welcome-message{
//     position: absolute;
//     z-index: 4;
//     h1{
//         z-index: 4;
//         color: white;
//         font-size: 62px;
//         margin-top: 5%;
//     }
// }
h1{
    color:white;
}
#homepage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    height: 100%;
}
#weight-history{
   background-color: white;
   display: flex;
   padding: 1vw;
   border-radius: 5px;
   width: 65%;
   margin-left: auto;
   margin-right: auto;
}